#content {
    margin: 0 auto;
    width: 1300px;
}

#query-div {
    width: 700px;
}

#query-button-area {
    width: 700px;
    height: 660px;
    display: inline-block;
}

#query-area {
    width: 700px;
    display: inline-block;
}

#plot {
    width: 600px;
    height: 600px;
    display: inline-block;
    position: absolute;
}

#button-submit-query {
    margin-left: 2em;
    display: block;
    z-index: 1;
}

#query-spinner {
    margin-left: 3.3em;
    width: 35px;
    height: 35px;
    display: none;
}

#errors-text, #results-text {
    font-size: large;
    display: inline-block;
    margin-bottom: 1.5em;
}

a {
    font-size: 16px;
}

#help-links {
    margin-bottom: 1.5em;
    margin-top: -1em;
    display: inline-block;
}

#bottom-div {
    margin-top: 3em;
    display: block;
}

#show-help {
    margin-right: 5em;
}

#roll-example {
    margin-right: 5em;
}

#all-examples {
    margin-left: 4em;
}

#help-text {
    overflow: visible;
    white-space: nowrap;
    font-size: 14px;
    display: none;
    margin-bottom: 1em;
    color: #555555
}

#share-link-form {
    display: none;
}

#errors-text {
    color: crimson;
}

#results-text {
    color: green;
}